/*sass variables*/
html, body {
  height: 100%;
  background-color: #00FF87;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-family: Palatino Linotype;
  background-color: #38003c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#head {
  height: 10%;
  min-height: 60px;
  background-color: #38003c;
  color: #fff;
  font-size: 3vw;
}

/* https://editor.freelogodesign.org/ */
#logo {
  position: absolute;
  height: 150%;
  left: 2%;
  top: -30%;
}

/* Center all */
.col, .col-8, .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid {
  margin: 10px;
}

#content {
  min-height: 85%;
  background-color: #00FF87;
}

#content-left {
  border-right: 1px solid #38003c;
}

#content-right {
  border-left: 1px solid #38003c;
}

.hidden {
  visibility: hidden;
  display: none;
}

/* sass nesting */
#bar {
  height: 5%;
  min-height: 40px;
  background-color: #fff;
  font-size: 100%;
}

#bar .col {
  padding: 0 !important;
}

#bar .col:nth-child(1) {
  border-right: 1px solid #38003c;
}

#bar .col:nth-child(2) {
  border-left: 1px solid #38003c;
}

#bar .clean {
  border-right: none !important;
}

#text {
  font-weight: 700;
  font-size: 140%;
  color: #38003c;
  margin: 10px;
}

#table {
  padding: 0;
  width: 50%;
  max-width: 50% !important;
}

#table tbody tr :nth-child(n+2) {
  border-left: 1px solid #38003c;
}

#table tbody :hover {
  background-color: #343a40;
  color: #fff;
}

#fixtures {
  max-width: 40%;
}

#fixtures tbody tr :nth-child(2n-1) {
  width: 40%;
}

.table {
  background-color: #fff !important;
  word-wrap: break-word;
}

.table td {
  vertical-align: middle !important;
  font-size: 1rem;
}

.table td:nth-child(6) {
  padding: 0.2rem;
}

.table thead {
  background-color: #38003c !important;
  color: #fff;
  font-size: 1.2rem;
}

/*sass inheritance*/
#check, #cross {
  font-size: 1.3rem;
}

#check {
  color: lime;
}

#cross {
  color: red;
}

/* responsive */
@media (max-width: 1220px) {
  .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #table {
    min-width: 95% !important;
  }
  #main {
    overflow: auto;
  }
  #main #fixtures {
    min-width: 90%;
  }
  #main #table th, #main #table td, #main #fixtures th, #main #fixtures td {
    padding: 0.2rem;
  }
}

@media (max-width: 1024px) {
  .hidden {
    visibility: visible;
    display: block;
  }
  .home #bar .col:last-child {
    display: none;
  }
  #content {
    height: auto;
    width: auto;
  }
  #content-right {
    display: none;
  }
}

@media (max-width: 992px) {
  #head {
    font-size: 4vw;
  }
  #bar {
    font-size: 2vw;
    min-height: 45px;
  }
  #text {
    font-size: 3vw;
  }
}

@media (max-width: 680px) {
  #logo {
    height: 100%;
  }
}

@media (max-width: 585px) {
  #fixtures th, #table th, #fixtures td, #table td {
    padding: 0.25rem !important;
  }
  #head {
    font-size: 6vw;
  }
  #bar {
    min-height: 35px;
    font-size: 2.4vw;
  }
  #text {
    font-size: 4vw;
  }
  #fixtures th, #table th {
    font-size: 3.2vw;
  }
  #fixtures td, #table td {
    font-size: 2.8vw;
  }
  #check, #cross {
    font-size: 2.8vw;
  }
}

@media (max-width: 420px) {
  #bar {
    font-size: 3vw;
  }
}
/*# sourceMappingURL=styles.css.map */