/*sass variables*/
$color: #38003c;
$border: 1px solid $color;

html, body {
    height: 100%;
    background-color: #00FF87;
}
.wrapper {
    display: flex;
    text-align: center;
    font-family: Palatino Linotype;
    background-color: $color;
    justify-content: center;
}
#head {
    height: 10%;
    min-height: 60px;
    background-color: $color;
    color: #fff;
    font-size: 3vw;
}
/* https://editor.freelogodesign.org/ */
#logo {
    position: absolute;
    height: 150%;
    left: 2%;
    top: -30%;
}
/* Center all */
.col, .col-8, .col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid {
    margin: 10px;
}
#content {
    min-height: 85%;
    background-color: #00FF87;
}
#content-left {
    border-right: $border;
}
#content-right {
    border-left: $border;
}
.hidden {
    visibility: hidden;
    display: none;
}
/* sass nesting */
#bar {
    height: 5%;
    min-height: 40px;
    background-color: #fff;
    font-size: 100%;

    .col {
        padding: 0 !important;
    }
    .col:nth-child(1) {
        border-right: $border;
    }
    .col:nth-child(2) {
        border-left: $border;
    }
    .clean {
        border-right: none !important;
    }
}
#text {
    font-weight: 700;
    font-size: 140%;
    color: $color;
    margin: 10px;
}
#table {
    padding: 0;
    width: 50%;
    max-width: 50% !important;
    
    tbody tr :nth-child(n+2) {
        border-left: $border;
    }
    tbody :hover {
        background-color: #343a40;
        color: #fff;
    }
}
#fixtures {
    max-width: 40%;
    
    tbody tr :nth-child(2n-1){
        width: 40%;
    }
}
.table {
    background-color: #fff !important;
    word-wrap: break-word;
    
    td {
        vertical-align: middle !important;
        font-size: 1rem;
    }
    td:nth-child(6) {
        padding: 0.2rem;
    }
    thead {
        background-color: $color !important;
        color: #fff;
        font-size: 1.2rem;
    }
}
/*sass inheritance*/
%mark {
    font-size: 1.3rem;
}
#check {
    @extend %mark;
    color: rgb(0, 255, 0);
}
#cross {
    @extend %mark;
    color: red;
}
/* responsive */
@media (max-width:1220px) {

    .col {
      flex-direction: column;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }    
    #table {
        min-width: 95% !important;
    }
    #main {
        overflow: auto;

        #fixtures {
            min-width: 90%;
        }
        #table , #fixtures {

            th, td {
            padding: 0.2rem;
            }
        }
    }
}
@media (max-width: 1024px) {

    .hidden {
        visibility: visible;
        display: block;
    }
    .home #bar .col:last-child {
        display: none;
    }
    #content {
        height: auto;
        width: auto;
    }
    #content-right {
        display: none;
    }
}
@media (max-width: 992px) {

    #head {
        font-size: 4vw;
    }
    #bar {
        font-size: 2vw;
        min-height: 45px;
    }
    #text {
        font-size: 3vw;
    }
}
@media (max-width: 680px) {    

    #logo {
        height: 100%;
    }    
}
@media (max-width: 585px) {    

    %padding {        
        padding: 0.25rem !important;
    }

    #head {
        font-size: 6vw;
    }
    #bar {
        min-height: 35px;
        font-size: 2.4vw;
    }
    #text {
        font-size: 4vw;
    }
    #fixtures, #table {

        th {
            @extend %padding;
            font-size: 3.2vw;
        }
        td {
            @extend %padding;
            font-size: 2.8vw;
        }
    }
    %mark {
        font-size: 2.8vw;
    } 
}
@media (max-width: 420px) {
    #bar {
        font-size: 3vw;
    }
}