$color: #38003c;
$border: 1px solid $color;

/* additional styling for teamsheets only */

#table {
    width: 85% !important;
    max-width: 85% !important;
}
.table {
    display: table !important;
}
#bar {
    .col:nth-child(2) {
        border-right: $border;
    }
    .col:nth-child(3) {
        border-left: $border;
    }
}
#content-right {
    flex-direction: column;
    justify-content: flex-start;
}
#box {
    background-color: #fff;
    width: 75%;
    height: 20%;
    margin: 10%;
    font-size: 1.2vw;
    padding: 0;
    
    .row {
    margin: 0;
    }
    header {
    width: 100%;
    border-bottom: 2px solid #000;
    background-color: lightgrey;
    }
}
#sub {
    text-align: left;
    font-size: 1vw;
    height: 81.5%;
    overflow-y: auto;
    margin: 0;

    ul {
        margin: 0;
    }
}
/* bootstrap component */
.modal {   
    
    .modal-content {
        background-color: $color;
    }

    .close {
        color: #fff;
        opacity: 1;
    }
    .close:hover {
        color: #fff !important;
    }
    .modal-header, .btn{
        background-color: $color;
        color: #fff;
    }
    .modal-body, .modal-footer {
        background-color: #fff;
    }
    .btn:hover {
        opacity: .8;
    }
}
/* invalid link */
#null {
    color: rgb(190, 190, 190);
}
@media (max-width: 1024px) {
    
    .hidden {

        #box {
            height: 55%;
            width: 90%;
            font-size: 3.2vw;
        }
        #sub {
            font-size: 2.2vw;
            
            ul {
                padding-left: 10px;
            }
        }
    }
    #content-left {        
        border-right: none;
    }
}